/******************************************
* Writer : Hui Ung Park
* Discription : CSS file.
* 
* I don't know how to use class and id 
* differently. give me some feed back.
* Thank you.
*
*******************************************/


body{
	background:#efefef;
}
/*
==========================================
 CLASS
==========================================
*/
.wrapper{
	margin: 0 auto;
	width: 992px;
}
.head{
	width: 100%;
	height:12px;
	background-color:#ffffff;
}
.contents{
	width: 992px;
	height : 600px;
	background-color:#ffffff;
}
.photo-container
{
	position:relative;
	float:left;
	width: 600px;
	height: 600px;
}
/*
==========================================
 ID
==========================================
*/
